<h1>This is the Home page</1h>
<body1>
  <div>
  This is all the information on what this application does
  </div>

</body1>
	
	<f>
	 	<%= link_to 'Contact', contact_path %>
	  
	  <%= link_to 'About', about_path %>
	</f>

